# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

task2-2/data/aaa.txt text eol=crlf
task2-2/data/bbb.txt text eol=crlf
task2-2/data/ccc.txt text eol=lf

task2-2/example_output/aaa.txt text eol=lf
task2-2/example_output/bbb.txt text eol=lf
task2-2/example_output/ccc.txt text eol=lf
